substitutions:
  device_name: brink
  friendly_name: Brink

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}

esp32:
  board: esp32dev

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:

ota:
  platform: esphome

logger:

uart:
  - id: modbus_uart
    tx_pin: GPIO17
    rx_pin: GPIO16
    baud_rate: 19200
    stop_bits: 1

modbus:
  - id: modbus_controller_main
    uart_id: modbus_uart

modbus_controller:
  - id: brink_unit
    modbus_id: modbus_controller_main
    address: 0x01
    setup_priority: -200

sensor:
  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Exchange Filter In"
    id: brink_exchange_filter_in_sensor
    address: 0x002C
    unit_of_measurement: "h"
    register_type: holding
    value_type: U_WORD
    scale: 0.1
    filters:
      - offset: -0

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Exchange Filter Out"
    id: brink_exchange_filter_out_sensor
    address: 0x002D
    unit_of_measurement: "h"
    register_type: holding
    value_type: U_WORD
    scale: 0.1
    filters:
      - offset: -0

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Supply Filter In"
    id: brink_supply_filter_in_sensor
    address: 0x002E
    unit_of_measurement: "h"
    register_type: holding
    value_type: U_WORD
    scale: 0.1
    filters:
      - offset: -0

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Supply Filter Out"
    id: brink_supply_filter_out_sensor
    address: 0x002F
    unit_of_measurement: "h"
    register_type: holding
    value_type: U_WORD
    scale: 0.1
    filters:
      - offset: -0

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Temperature Inside"
    id: brink_temperature_inside_sensor
    address: 0x0010
    unit_of_measurement: "째C"
    register_type: holding
    value_type: S_WORD
    scale: 0.01

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Temperature Outside"
    id: brink_temperature_outside_sensor
    address: 0x0011
    unit_of_measurement: "째C"
    register_type: holding
    value_type: S_WORD
    scale: 0.01

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Temperature Fresh Air"
    id: brink_temperature_fresh_air_sensor
    address: 0x0012
    unit_of_measurement: "째C"
    register_type: holding
    value_type: S_WORD
    scale: 0.01

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Temperature Exhaust"
    id: brink_temperature_exhaust_sensor
    address: 0x0013
    unit_of_measurement: "째C"
    register_type: holding
    value_type: S_WORD
    scale: 0.01

text_sensor:
  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Status"
    id: brink_status
    address: 0x0000
    register_type: holding
    raw_encode: HEXBYTES
    lambda: |-
      uint16_t value = modbus_controller::byte_to_uint16(data[0], data[1]);
      switch (value) {
        case 0:
          return std::string("Startup");
        case 1:
          return std::string("Running");
        case 2:
          return std::string("Standby");
        case 3:
          return std::string("Error");
        case 4:
          return std::string("Service");
        default:
          return std::string("Unknown");
      }

number:
  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Fan Speed Supply"
    id: brink_fan_speed_supply
    address: 0x0007
    unit_of_measurement: "%"
    register_type: holding
    value_type: U_WORD
    min_value: 0
    max_value: 100
    step: 1

  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Fan Speed Extract"
    id: brink_fan_speed_extract
    address: 0x0008
    unit_of_measurement: "%"
    register_type: holding
    value_type: U_WORD
    min_value: 0
    max_value: 100
    step: 1

binary_sensor:
  - platform: modbus_controller
    modbus_controller_id: brink_unit
    name: "Brink Filter Exchange Needed"
    id: brink_filter_exchange_needed
    address: 0x0020
    register_type: holding

template:
  - id: brink_exchange_filter_in
    sensors:
      - name: "Brink Exchange Filter In"
        id: brink_exchange_filter_in_template
        unit_of_measurement: "h"
        device_class: duration
        state_class: total_increasing
        lambda: |-
          if (id(brink_exchange_filter_in_sensor).has_state()) {
            return id(brink_exchange_filter_in_sensor).state;
          }
          return {};
